.leftMargin {
  margin-left: 2em; }

.grayFont {
  color: #928c8c; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden; }

.eventContainer {
  box-shadow: #808080 1px 1px 1px 1px;
  height: 6em;
  width: 95%;
  border-radius: 4px;
  margin-bottom: 1em;
  margin-left: 2px; }

.verticalLine {
  border-left: solid #f18c2c;
  height: 75%; }

.pageVerticalLine {
  border-left: solid #808080;
  border-right: solid #808080;
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }

.detail-control {
  margin-top: .5em;
  margin-bottom: 1.7em; }

#playerBox {
  min-height: 8em;
  height: auto;
  width: 100%;
  border: solid 2px #808080;
  border-radius: 4px;
  margin-bottom: 2em; }

.Scollable {
  height: 67em;
  overflow-y: auto; }
