//Variables
$ThemeGray: #808080;
$ThemeOrangeYellow: #f18c2c;
$LightLateGrey: #928c8c;

//Mixins
@mixin border-radius-shadow($radius, $shadow){
    box-shadow:$shadow;
    border-radius:$radius;
}

@mixin height-width($height, $width){
    height:$height;
    width:$width;
}

.leftMargin{
    margin-left:2em;
}

.marginDetails{
    margin-top:1em;
    margin-bottom:2.2em;
}

.grayFont{
    color:$LightLateGrey;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow:hidden;
}

.verticalLine{
    border-left: solid $ThemeOrangeYellow;
    height:75%;
}

img { 
    max-width: 100%; 
    height: auto; 
}

.detail-control{
    margin-top:.5em;
    margin-bottom:1.7em;
}

#playerBox{
    min-height:8em;
    @include height-width(auto, 100%);
    border:solid 2px $ThemeGray;
    border-radius:4px;
    margin-bottom:2em;
}

.Scrollable{
    height:67em;
    overflow-y:auto;
}

.NavbarBackgroup{
    //background-color:#f18c2c;
}

.transparent{
    background-color:rgba(204,204,204,0.3);
    height:120%
}

.titleFont{
    font-size:medium;
    font-weight:700;
    color:black;
}



