//Variables
$ThemeGray: #808080;
$ThemeOrangeYellow: #f18c2c;
$LightLateGrey: #928c8c;

//Mixins
@mixin border-radius-shadow($radius, $shadow){
    box-shadow:$shadow;
    border-radius:$radius;
}

@mixin height-width($height, $width){
    height:$height;
    width:$width;
}

.leftMargin{
    margin-left:2em;
}

.grayFont{
    color:$LightLateGrey;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow:hidden;
}

.eventContainer{
    box-shadow:  $ThemeGray 1px 1px 1px 1px;
    @include height-width(6em, 95%);
    border-radius:4px;
    margin-bottom:1em;
    margin-left:2px;
}

.verticalLine{
    border-left: solid $ThemeOrangeYellow;
    height:75%
}

.pageVerticalLine{
    border-left: solid $ThemeGray;
    border-right: solid $ThemeGray;
    height:100%
}

img { 
    max-width: 100%; 
    height: auto; 
}

.detail-control{
    margin-top:.5em;
    margin-bottom:1.7em;
}

#playerBox{
    min-height:8em;
    @include height-width(auto, 100%);
    border:solid 2px $ThemeGray;
    border-radius:4px;
    margin-bottom:2em;
}

.Scollable{
    height:67em;
    overflow-y:auto;
}


