body {
  padding-top: 50px;
  padding-bottom: 20px; }

.eventContainer {
  box-shadow: #808080 1px 1px 1px 1px;
  height: 5em;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1em; }

.verticalLine {
  border-left: solid #f18c2c;
  height: 4.5em; }

img {
  max-width: 100%;
  height: auto; }

.detail-control {
  margin-top: .5em;
  margin-bottom: 1.7em; }

#playerBox {
  min-height: 8em;
  height: auto;
  width: 100%;
  border: solid 2px #808080;
  border-radius: 4px;
  margin-bottom: 2em; }
