
<div class="panel panel-primary" style="height: 100%; margin-top: 2em">
    <div class="panel-heading"><h4>Chat Room</h4>
    </div>
    <div class="panel-body">
        <div style="height: auto; margin-left: -2em">
            <ul id="discussion"></ul>
        </div>
        <div>
            <input type="text" id="message"/>
            <input type="button" id="sendmessage" value="Send" class="btn btn-primary"/>
            <input type="hidden" id="displayname"/>
        </div>
    </div>
</div>
<script src="~/public/vendor-1187800ef2.js"></script>
<script src="~/Scripts/js/ChatRoom.js"></script>
